@import '~sanitize.css';

body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .root {
    display: flex;
    width: 100%;
  }

  .aside {
    width: 20%;
    height: 100vh;
    background: teal;
  }

  .Todos {
    width: 80%;
    display: flex;
    
    &-container {
      width: 50%;
      margin: 10px;
      padding: 20px;
    }
  }

  .Comments-container {
    width: 50%;
    margin: 10px;
    padding: 20px;
  }

  

}
